<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RewstFolders.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RewstForms.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WinFormsApp1.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RewstFolders.My.MySettings>
            <setting name="Rewst" serializeAs="String">
                <value />
            </setting>
            <setting name="Webhook" serializeAs="String">
                <value />
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Segoe UI, 10pt</value>
            </setting>
        </RewstFolders.My.MySettings>
        <RewstForms.My.MySettings>
            <setting name="Rewst" serializeAs="String">
                <value>ef04b993-4621-43fd-8f9f-b87f308a274f</value>
            </setting>
            <setting name="Webhook" serializeAs="String">
                <value>https://engine.rewst.io/webhooks/custom/trigger/0197ad5e-3841-72e5-b83e-b1401239be62/3f245a85-e037-40db-9845-4a61d0a8d0e2</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Segoe UI, 10pt</value>
            </setting>
            <setting name="DarkMode" serializeAs="String">
                <value>False</value>
            </setting>
        </RewstForms.My.MySettings>
        <WinFormsApp1.My.MySettings>
            <setting name="Rewst" serializeAs="String">
                <value>ef04b993-4621-43fd-8f9f-b87f308a274f</value>
            </setting>
            <setting name="Webhook" serializeAs="String">
                <value>https://engine.rewst.io/webhooks/custom/trigger/0197ad5e-3841-72e5-b83e-b1401239be62/3f245a85-e037-40db-9845-4a61d0a8d0e2</value>
            </setting>
        </WinFormsApp1.My.MySettings>
    </userSettings>
</configuration>
